<html>
    <head>
        <title>POINTS!!!!</title>
        <link rel="stylesheet" href="/static/points.css" />
    </head>
    <body>
        <div align="center">
            <div class="background-box">
                <h1>POINTS!!!</h1>
                {%- if message %}
                    <p>{{message}}</p>
                {% endif %}
                <form action="/bonus_points" method="POST">
                    <table class="points-box">
                        <tr>
                            <td class="points-form">
                                <input type="text" name="total_points" placeholder="total points for each entry" />
                            </td>
                        </tr>
                        <tr>
                            <td class="points-form">
                            	<input class="points-input" type="date" name="start_date" value="{{ today }}" required/>
                            </td>
                        </tr>
                        <tr>
                            <td class="points-form">
                            	<input class="points-input" type="date" name="end_date" value="{{ today }}" required/>
                            </td>
                        </tr>
                        <tr>
                            <td class="points-form">
                                <select name="event_type" class="points-input">
                                    {%- for type in event_types %}
                                    <option value="{{ type }}">{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input class="points-button" name="submit" type="submit" size="16" value="add" class="points-input"></td>
                </form>

                <h2>Bonus Points</h2>
                <table class="top10-box" border="1">
                    {%- for point in bonus_points %}
                        <tr class="{{ loop.cycle('top10-row-gray', 'top10-row-white') }}">
                            <td>{{ point.total_points }}</td>
                            <td>{{ point.start_date}}</td>
                            <td>{{ point.end_date }}</td>
                            <td>{{ point.event_type }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <p>&nbsp;</p>
            </div>
        </div>
    </body>
</html>
