<html>
    <head>
        <title>POINTS!!!!</title>
        <link rel="stylesheet" href="/static/points.css" />
    </head>
    <body>
        <div align="center">
            <div class="background-box">
                <h1>POINTS!!!</h1>
                {%- if message %}
                    <p>{{message}}</p>
                {% endif %}
                {%- if point == "white" %}
                    <img src="/static/mighty_white.jpeg" />
                {% elif point == "blue" %}
                    <img src="/static/mighty_blue.jpeg" />
                {% endif %}
                <table class="team-box">
                    <tr>
                        <td class="team-scores">BLUE</th>
                        <td class="team-scores">WHITE</th>
                    </tr>
                    <tr>
                        <td class="team-scores">{{ blue_points }}</td>
                        <td class="team-scores">{{ white_points }}</td>
                    </tr>
                </table>

                <form action="/point" method="POST">
                    <table class="points-box">
                        {% if not user.color %}
                            <tr >
                                <td class="points-form">
                                    <select name="color">
                                        <option value="blue">blue</option>
                                        <option value="white">white</option>
                                    </select>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="points-form"><input class="points-input" type="date" name="event_date" value="{{ today }}" /></td>
                        </tr>
                        <tr>
                            <td class="points-form">
                                <select name="event_type" class="points-input">
                                    {%- for type in event_types %}
                                    <option value="{{ type }}">{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="points-form">
                                <select name="num_points" class="points-input">
                                    <option value="1">1 point</option>
                                    <option value="2">2 points</option>
                                    <option value="3">3 points</option>
                                    <option value="4">4 points</option>
                                    <option value="5">5 points</option>
                                    <option value="6">6 points</option>
                                    <option value="7">7 points</option>
                                    <option value="8">8 points</option>
                                    <option value="9">9 points</option>
                                </select>
                        </tr>
                        <tr>
                            <td class="points-form"><input name="event_description" placeholder="vs. hutchison" class="points-input" required/></td>
                        </tr>
                    </table>
                    <input class="points-button" type="submit" size="20" value="points!" class="points-input"></td>
                </form>

                <h2>Latest Points</h2>
                <table class="top10-box" border="1">
                    {%- for point in latest_points %}
                        <tr class="{{ loop.cycle('top10-row-gray', 'top10-row-white') }}">
                            <td>{{ point.name }}</td>
                            <td>{{ point.color }}</td>
                            <td>{{ point.event_date }}</td>
                            <td>{{ point.event_type }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="footer">
                    <p>&nbsp;</p>
                    {%- if current_user.admin %}
                        <p>
                            <a href="/admin_points">administer points</a> |
                            <a href="/download_points">download points</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
